* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
  background: linear-gradient(135deg, #61383f, #5d263d);
  color: white;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

#hearts {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 750px;
  margin: 10vh auto;
  padding: 30px;
  text-align: center;
  background:  rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.typing {
  font-size: 1.2em;
  white-space: nowrap;
  border-right: 2px solid white;
  width: 100%;
  overflow: hidden;
  animation: typing 4s steps(40, end), blink 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.heart-big {
  width: 100px;
  height: 90px;
  background: red;
  margin: 30px auto 0;
  position: relative;
  transform: rotate(-45deg);
  animation: pulse 1s infinite;
}

.heart-big::before,
.heart-big::after {
  content: "";
  width: 100px;
  height: 90px;
  background: red;
  position: absolute;
  border-radius: 50%;
}

.heart-big::before {
  top: -50px;
  left: 0;
}

.heart-big::after {
  left: 50px;
  top: 0;
}

@keyframes pulse {
  0% { transform: scale(1) rotate(-45deg); }
  50% { transform: scale(1.1) rotate(-45deg); }
  100% { transform: scale(1) rotate(-45deg); }
}

.music-button {
  position: fixed;
  bottom: 20px;
  right:
}
.galeria-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #ffffff;
  color: #e91e63;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  padding: 12px 18px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(255, 20, 147, 0.5);
  z-index: 2;
  transition: all 0.3s ease;
}

.galeria-button:hover {
  background-color: #e91e63;
  color: white;
  box-shadow: 0 0 15px rgba(255, 105, 180, 0.7);
}
